Source: ros-jade-depthcloud-encoder
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-cv-bridge, ros-jade-image-transport, ros-jade-message-filters, ros-jade-pcl-conversions, ros-jade-pcl-ros, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-tf-conversions
Homepage: http://ros.org/wiki/depthcloud_encoder
Standards-Version: 3.9.2

Package: ros-jade-depthcloud-encoder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-cv-bridge, ros-jade-image-transport, ros-jade-message-filters, ros-jade-pcl-conversions, ros-jade-pcl-ros, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-tf-conversions
Description: Point Cloud Encoder for Web-Based Streaming
